{
    "extends": ["prettier"],
    "rules": {
        "no-console": "warn",
        "no-debugger": "error"
    },
    "plugins": ["prettier", "eslint-plugin-prettier"],
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "env": {
        "commonjs": true,
        "node": true,
        "browser": true
    }
}
